@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: black;
  background-color: rgb(214, 218, 221);
}

#root {
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.2);
  margin: 5em 3em;
  padding-bottom: 10em;
  border-radius: 0.5em;
  background-color: rgb(247, 247, 247);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 10px gainsboro;
  border-radius: 0.5em 0.5em  0 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-right: 2em;
}

.navbar h1 {
  margin-left: 1em;
  color: #2d99f1;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 0.5em;
  padding: 1em;
}

.book #head {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid rgb(220, 220, 220, 0.7);
  border-radius: 0.3em;
}

.items {
  display: flex;
  flex-direction: column;
}

.items h2 {
  margin: 0 0 0 0.9em;
}

.items h3 {
  color: #2d99f1;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0 0 1em 1.9em;
}

.items h4 {
  margin: 0 0 0 1.9em;
  color: #808080b3;
  font-size: 0.8em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}

.buttons button {
  color: #2d99f1;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8em;
  width: 6em;
}

.buttons span {
  color: rgb(45, 153, 241, 0.3);
}

.add-book {
  margin: 1em 0 0 2.2em;
}

.add-book h2 {
  color: rgb(128, 128, 128, 0.7);
}

.inputs {
  display: flex;
  flex-direction: row;
}

.add-book #title {
  padding: 0.8em;
  width: 30em;
  border: 1px solid rgb(220, 220, 220);
  font-family: "Poppins", sans-serif;
  margin-right: 2em;
  border-radius: 0.5em;
}

.add-book #author {
  padding: 0.8em;
  width: 10em;
  border: 1px solid #dcdcdc;
  font-family: "Poppins", sans-serif;
  margin-right: 2em;
  border-radius: 0.5em;
}

.add-book button {
  border: none;
  background-color: #2d99f1;
  color: white;
  border-radius: 0.5em;
  width: 10em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 1em;
}

#line {
  border: 1px solid rgb(220, 220, 220, 0.5);
  margin: 0 2.5em;
}

.categories button {
  border: none;
  background-color: #2d99f1;
  color: white;
  border-radius: 0.5em;
  width: 10em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 3em;
  padding: 0.5em;
  font-size: 1em;
}

.categories h2 {
  margin: 1em 0 0 2.5em;
}

.percentage {
  width: 5.5em;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progress button {
  border: none;
  background-color: #2d99f1;
  color: white;
  border-radius: 0.5em;
  width: 10em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 0.5em;
}

.progress h4 {
  color: #808080;
  font-weight: lighter;
  font-size: 0.9em;
  margin: 0;
}

.progress h3 {
  color: black;
  font-weight: normal;
  font-size: 1em;
  margin-top: 0;
}

.VLine {
  border-left: 2px solid rgb(220, 220, 220, 0.5);
  height: 5em;
  margin: 0 2em;
}
